*.asv
*.coff
*.hex
slprj
*_dspic
*.mex*
clib/*.o*
*.
*.tmproj
.DS_Store
clib/*.exe
*.o
clib/*.~*
GroundStation/DriverTest/*.exe
GroundStation/DriverTest/*.~*
sfprj
MPlabProject/*.cof
GroundStation/Componentes/*
/hardware/SLUGS_V2/SLUGS_V2_0.DBK
/hardware/SLUGS_V2/allegro/refresh_padstack.log,1
/hardware/SLUGS_V2/allegro/refresh_padstack.log,2
/hardware/SLUGS_V2/allegro/refresh_padstack.log,3
/hardware/SLUGS_V2/allegro/slugs_v2-1-4.drl,1
/hardware/SLUGS_V2/allegro/slugs_v2.SAV
/hardware/SLUGS_V2/allegro/slugs_v2_custom_route.do
/hardware/SLUGS_V2/allegro/slugs_v2_diffpair.do
/hardware/SLUGS_V2/allegro/slugs_v2_diffpair_timing.do
/hardware/SLUGS_V2/allegro/slugs_v2_noise.do
/hardware/SLUGS_V2/allegro/slugs_v2_physical.do
/hardware/SLUGS_V2/allegro/slugs_v2_route.do
/hardware/SLUGS_V2/allegro/slugs_v2_setup.do
/hardware/SLUGS_V2/allegro/slugs_v2_shielding.do
/hardware/SLUGS_V2/allegro/slugs_v2_timing.do
/hardware/SLUGS_V2/allegro/slugs_v2_xtalk.do
/hardware/SLUGS_V2/allegro/specctra.did,1
/hardware/SLUGS_V2/allegro/specctra.log
/hardware/SLUGS_V2/allegro/specctra.log,1
/hardware/SLUGS_V2/allegro/specctra.log,2
/hardware/SLUGS_V2/allegro/TOP_ETCH.art,1
/hardware/SLUGS_V2/allegro/TOP_SILKSCREEN.art,1
/hardware/SLUGS_V2/allegro/TOP_SOLDERMASK.art,1
/hardware/SLUGS_V2/allegro/allegro.jrl
/hardware/SLUGS_V2/allegro/allegro.jrl,1
/hardware/SLUGS_V2/allegro/art_param.txt
/hardware/SLUGS_V2/allegro/art_param.txt,1
/hardware/SLUGS_V2/allegro/batch_drc.log
/hardware/SLUGS_V2/allegro/batch_drc.log,1
/hardware/SLUGS_V2/allegro/batch_drc.log,2
/hardware/SLUGS_V2/allegro/batch_drc.log,3
/hardware/SLUGS_V2/allegro/BOTTOM_ETCH.art,1
/hardware/SLUGS_V2/allegro/BOTTOM_SILKSCREEN.art,1
/hardware/SLUGS_V2/allegro/BOTTOM_SOLDERMASK.art,1
/hardware/SLUGS_V2/allegro/dangling_lines.rpt,1
/hardware/SLUGS_V2/allegro/dbdoctor.log
/hardware/SLUGS_V2/allegro/dbdoctor.log,1
/hardware/SLUGS_V2/allegro/dbdoctor.log,2
/hardware/SLUGS_V2/allegro/dbdoctor.log,3
/hardware/SLUGS_V2/allegro/eco.txt
/hardware/SLUGS_V2/allegro/eco.txt,1
/hardware/SLUGS_V2/allegro/extract.log
/hardware/SLUGS_V2/allegro/extract.log,1
/hardware/SLUGS_V2/allegro/extract.log,2
/hardware/SLUGS_V2/allegro/extract.log,3
/hardware/SLUGS_V2/allegro/firsttest.zip
/hardware/SLUGS_V2/allegro/master.tag
/hardware/SLUGS_V2/allegro/monitor.sts
/hardware/SLUGS_V2/allegro/mpxv5010dp.log
/hardware/SLUGS_V2/allegro/mpxv5010dp.log,1
/hardware/SLUGS_V2/allegro/mpxv5010dp.log,2
/hardware/SLUGS_V2/allegro/mpxv5010dp.log,3
/hardware/SLUGS_V2/allegro/nc_param.txt
/hardware/SLUGS_V2/allegro/nc_param.txt,1
/hardware/SLUGS_V2/allegro/nc_tools_auto.txt
/hardware/SLUGS_V2/allegro/nc_tools_auto.txt,1
/hardware/SLUGS_V2/allegro/ncdrill.log
/hardware/SLUGS_V2/allegro/ncdrill.log,1
/hardware/SLUGS_V2/allegro/ncdrill.log,2
/hardware/SLUGS_V2/allegro/ncdrill.log,3
/hardware/SLUGS_V2/allegro/nclegend.log
/hardware/SLUGS_V2/allegro/netlist.log
/hardware/SLUGS_V2/allegro/netrev.lst
/hardware/SLUGS_V2/allegro/photoplot.log
/hardware/SLUGS_V2/allegro/photoplot.log,1
/hardware/SLUGS_V2/allegro/photoplot.log,2
/hardware/SLUGS_V2/allegro/photoplot.log,3
/hardware/SLUGS_V2/allegro/PLANE1.art,1
/hardware/SLUGS_V2/allegro/PLANE2.art,1
/hardware/SLUGS_V2/allegro/pstchip.dat
/hardware/SLUGS_V2/allegro/pstchip.dat,1
/hardware/SLUGS_V2/allegro/pstchip.dat,2
/hardware/SLUGS_V2/allegro/pstchip.dat,3
/hardware/SLUGS_V2/allegro/pstxnet.dat
/hardware/SLUGS_V2/allegro/pstxnet.dat,1
/hardware/SLUGS_V2/allegro/pstxnet.dat,2
/hardware/SLUGS_V2/allegro/pstxnet.dat,3
/hardware/SLUGS_V2/allegro/pstxprt.dat
/hardware/SLUGS_V2/allegro/pstxprt.dat,1
/hardware/SLUGS_V2/allegro/pstxprt.dat,2
/hardware/SLUGS_V2/allegro/pstxprt.dat,3
/hardware/SLUGS_V2/allegro/pxlBA.txt
/hardware/SLUGS_V2/allegro/refresh.log
/hardware/SLUGS_V2/allegro/refresh.log,1
/hardware/SLUGS_V2/allegro/refresh.log,2
/hardware/SLUGS_V2/allegro/refresh_padstack.log
/hardware/SLUGS_V2/allegro/signoise.run/cases.cfg
/hardware/SLUGS_V2/allegro/signoise.run/cases.cfg,1
/hardware/SLUGS_V2/allegro/signoise.run/case1/case.cfg
/hardware/SLUGS_V2/allegro/signoise.run/case1/case.cfg,1